# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.cache
.DS_Store
.eslintcache
.history/
.idea
.scannerwork
.vscode
*.log

# testing
/coverage

# production
/build

